.blue {
 font-family: sans-serif;
 background-color: #89CFF0;
}

/* Styling for the WhatsApp icon */
.whatsapp-icon {
	position: fixed;
	bottom: 30%;
	right: 7%;
	background-color: #25D366;
	color: #fff;
	padding: 20px 20px;
	border-radius: 50%;
	font-size: 40px;
	cursor: pointer;
	z-index: 9999;
	height: 80px; /* Add this line */
	width: 80px; /* Add this line */
}

/* Styling for the WhatsApp icon on hover */
.whatsapp-icon:hover {
	background-color: #128C7E;
}
